@import url(./style.css);

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.review {
    border: 0.83px solid #14141426
}

.max-width-435 {
    max-width: 435px;
}

.max-width-674 {
    max-width: 674px;
}

.max-width-592 {
    max-width: 592px;
}
.max-width-300 {
    max-width: 300px;
}

.mb-56 {
    margin-bottom: 56px;
}

.mt-36 {
    margin-top: 36px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-20 {
    margin-bottom: 20px;
}

.box-shadow {
    box-shadow: 0px 1px 28px 1px #4747471A;
}

.padding-18-32 {
    padding: 18px 32px;
}
.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.border-red {
    background: none;
    border: 1px solid var(--color-red);
}

.get-btn {
    transition: all .3s linear;
}

.get-btn:hover {
    background-color: var(--color-red) !important;
    color: var(--color-white);
    border: 1px solid var(--color-white) !important;
}

.red-box {
    transform: translate(10% 10%);
    bottom: 10%;
    left: -10%;
}

.z-index {
    z-index: 1;
    position: relative;
}

.bg-image {
    background-image: url(/assets/images/png/bg-img-sec-6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


.bg-image::after {
    background-color: #ff0000bf;

    content: "";
    height: 100%;
    width: 100%;
    top: 0%;
    position: absolute;
    right: 0%;
    left: 0%;
    border-radius: 20px;
}

.box {
    border-radius: 24px;
}
/*===================================accordion============================*/
.down-arrow::after {
    background-image: url(/assets/images/svg/accordion-down-arrow.svg) !important;
}

.down-arrow::after {
    background-color: red;
    border-radius: 6px;
}

.color-linear {
    background: linear-gradient(#815CC8 100%, #1BABFE 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.bg-blur {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%) !important;
}


.max-width-912 {
    max-width: 912px;
}

.accordion-item {
    box-shadow: 0px 2px 44px 3px #5757571A;
    border-radius: 16px !important;
}

.accordion-button {
    box-shadow: none !important;
}

.py-140 {
    padding-top: 140px;
    padding-bottom: 140px;
}